<div class="modal" id="booksForms" tabindex="-1">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title">Add a new book...</h2>
      </div>
      <div class="modal-body">
        <form method="post">
          <div class="mb-1">{control bookForm}</div>
        </form>
      </div>
      <div class="modal-footer"></div>
    </div>
  </div>
</div>
